body{
    background-color:black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.desktop-only{
    display: none;
}

.box{
    margin-top: 5px;
    margin-left: 5px;
}

.icon{
    border: 1.5px solid white;
    border-radius: 50px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    padding: 7px;
    text-decoration: none;
    color: white;
    
}

.icon:hover{
    color: #eb5e28;
}

.bars{
    float: right;
    margin-right: 10px;
}


.logo{
    color:  #eb5e28;
    text-align: center;
    font-weight: 300;

}
.line{
    background-color: white;
    width: 80vw;
    height: 1px;
    margin-top: 15px;
    margin-left: 27px;

    
}

/*general classes*/

h1{
    text-align: center;
}

p, h1{
    font-weight: 200;
    
}
p{
    text-align: left;
}

h2{
    font-weight: 300;
    font-size: 1.5em;
}

h1,h2{
    color: #f7931e;
}

h6{
    text-decoration: none;
    color: #f7931e;
    
}

.boxTwo{
    width: 100vw;
    text-align: center;
}

.iconf{
    border: 1.5px solid white;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 7px;
    text-decoration: none;
    color: white;
    
}

.iconf:hover{
    color: #eb5e28;
}

.copy, #full {
    font-size: 13px;
    display: inline-block;
    margin-top: 5px;
}

#full{
 color: #f7931e;
}

.moMenu{
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.time{
    float: right;
    margin-right: 10px;
}

.menuOne{
   position: relative;
   top: 150px;

}

#one{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#one:hover{
    color: #f7931e;
}

.block{
    width: 100vw;
    text-align: center;
    background: rgb(27, 27, 27);
    padding: 40px;
}

.newCon{
    font-size: 40px;
    background-color: #f7931e;
    color: black;
    border-radius: 50px;
    padding: 20px;
}

#head{
    font-size: 18px;
}

/* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (orientation: landscape) { 
}

/* // --------------------------------------------------------------Medium devices (tablets) */
@media (min-width: 768px) {
}

/* // --------------------------------------------------------------Large devices (ipad pro) */
@media (min-width: 992px) { 
    .box{
        float: right;
        margin-top: 70px;
        margin-right: 85px;
    }

    .logo{
        margin-left: 130px;
    }

    .bars{
        display: none;
    }

    .line{
        background-color: gray;
        width: 90vw;
        height: 1px;
        margin-top: 60px;
        margin-left: 50px;
 
    }

    .block{
        width: 90vw;
        text-align: center;
        background: rgb(27, 27, 27);
        margin: auto;
        padding: 50px 50px;
    }

    p{
        font-size: 17px;
        text-align: left;
        word-spacing: 3 px;
        word-break: keep-all;
    }


    /*header section*/
    
 .desktop-only{
     display: inline-block;
     margin-left: 12vw;
     font-size: 20px ;
     
 }
 a{
     text-align: center;
     text-decoration: none;
     color: white;
     padding: 10px;
     margin-right: 5px;
     font-size: 1.2em;
     font-weight: 200;

 }

 a:hover{
     color: #eb5e28;
 } 

 h1{
     text-align: center;
 }

 .title{
     width: 70vw;
     padding: 30px 20px;
     background-color: #eb5e28;
     display: inline-flex;
     
 }

 .code{
    background-color: white;
    color: black;
    margin-left: 100px;
 }

 #head{
     color: black;
     font-size: 25px;
     font-weight: 500;
     margin-top: 25px;
     margin-left: 20px;
 }

 .content{
     display: flex;
 }

 .goals{
     margin-left: 30px;
 }
}

/* // --------------------------------------------------------------Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}
/* --------------------------------------------------------------Extra large devices landscape */
@media (min-width: 1200px) and (orientation: landscape) {
       /*general classes*/
       .box{
        float: right;
        margin-top: 70px;
        margin-right: 85px;
    }

    .logo{
        margin-left: 130px;
    }

    .bars{
        display: none;
    }

    .line{
        background-color: gray;
        width: 90vw;
        height: 1px;
        margin-top: 60px;
        margin-left: 50px;
 
    }

    .block{
        width: 90vw;
        text-align: center;
        background: rgb(27, 27, 27);
        margin: auto;
        padding: 50px 50px;
    }

    p{
        font-size: 17px;
        text-align: left;
        word-spacing: 3 px;
        word-break: keep-all;
    }


    /*header section*/
    
 .desktop-only{
     display: inline-block;
     margin-left: 25vw;
     font-size: 20px ;
     
 }
 a{
     text-align: center;
     text-decoration: none;
     color: white;
     padding: 10px;
     margin-right: 5px;
     font-size: 1.2em;
     font-weight: 200;

 }

 a:hover{
     color: #eb5e28;
 } 

 h1{
     text-align: center;
 }

 .title{
     width: 70vw;
     padding: 30px 20px;
     background-color: #eb5e28;
     display: inline-flex;
     
 }

 .code{
    background-color: white;
    color: black;
    margin-left: 300px;
 }

 #head{
     color: black;
     font-size: 25px;
     font-weight: 500;
     margin-top: 25px;
     margin-left: 20px;
 }

 .content{
     display: flex;
 }

 .goals{
     margin-left: 30px;
 }


}

/* --------------------------------------------------------------Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}