
body{
    background-color:black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.desktop-only{
    display: none;
}


.box{
    margin-top: 5px;
    margin-left: 5px;
}

.icon{
    border: 1.5px solid white;
    border-radius: 50px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    padding: 7px;
    text-decoration: none;
    color: white;
    
}

.icon:hover{
    color: #eb5e28;
}

.bars{
    float: right;
    margin-right: 10px;
}


.logo{
    color:  #eb5e28;
    text-align: center;
    font-weight: 300;

}
.line{
    background-color: white;
    width: 80vw;
    height: 1px;
    margin-top: 15px;
    margin-left: 35px

    
}

/*general classes*/


p, h1{
    font-weight: 200;
    
}
p{
    text-align: left;
}

h2{
    font-weight: 300;
}

h1,h2{
    color: #f7931e;
}

#cool{
    color: darkgrey;
}

#pamela{
    border:2px solid white;
    box-shadow: -20px -20px lightgray;

}


button{
    background-color: #eb5e28;
    border: none;
    border-radius: 25px;
    width: 200px;
    height: 40px;
    padding: 10px 20px;
}

.ADA{
    background-color: gray;
}

#butt{
    color: white;
    text-align: center;
    font-weight: bold;
    
}



/*header section*/

.block{
    width: 100vw;
    text-align: center;
    background: rgb(27, 27, 27);
    padding: 40px;
}

.curly{
    display: inline-block;
    font-size: 150px;
    font-weight: 200;
    color: lightslategray;
}

.hi{
    display: inline-block;
    font-size: 130px;
    font-weight: 200;
    color: white;
}

.tagline{
    font-weight: 300;
    color:  #f7931e;
}

.Orange{
    background-color: #eb5e28;
    color: white;
    width: 120px;
    height: 120px;
    /* margin-top: 3px;   */
}

 .Oraicon{
     font-size: 25px;
     margin-top: 10px;
 }

 #tact{
     margin-left: 27px;
 }


#name{
    text-align: center;
    font-weight: 500;
}


.paras{
    margin-left: 20px;
    width: 45vw;

}

.academy, .laura, .kate, .Andy{
    display: inline-flex;
    padding: 5px;
}



input, textarea{
    background-color: gray;
    border:1px solid darkslategray;
    width: 80vw;
    margin-bottom: 5px;
}

::placeholder {
    color: white;
}

.boxTwo{
    width: 100vw;
    text-align: center;
}

.iconf{
    border: 1.5px solid white;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
    padding: 7px;
    text-decoration: none;
    color: white;
    
}

.iconf:hover{
    color: #eb5e28;
}

.copy, #full {
    font-size: 13px;
    display: inline-block;
    margin-top: 5px;
}

#full{
 color: #f7931e;
}

.moMenu{
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.time{
    float: right;
    margin-right: 10px;
}

.menuOne{
   position: relative;
   top: 150px;

}

#one{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#one:hover{
    color: #f7931e;
}




/* --------------------------------------------------------------media queries */

/* // Extra small devices (n   portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (orientation: landscape) { 
}

/* // --------------------------------------------------------------Medium devices (tablets) */
@media (min-width: 768px) {
    /*general classes*/
    

    /*header section*/
    
}

/* // --------------------------------------------------------------Large devices (ipad pro) */
@media (min-width: 992px) {
    /*general classes*/
    .box{
        float: right;
        margin-top: 70px;
        margin-right: 85px;
    }

    .logo{
        margin-left: 130px;
    }

    .bars{
        display: none;
    }

    .line{
        background-color: gray;
        width: 90vw;
        height: 1px;
        margin-top: 60px;
        margin-left: 50px;
 
    }

    .block{
        width: 90vw;
        text-align: center;
        background: rgb(27, 27, 27);
        margin: auto;
        padding: 50px 50px;
    }

    p{
        font-size: 17px;
        text-align: left;
        word-spacing: 3 px;
        word-break: keep-all;
    }


    /*header section*/
    
 .desktop-only{
     display: inline-block;
     margin-left: 12vw;
     font-size: 20px ;
     
 }
 a{
     text-align: center;
     text-decoration: none;
     color: white;
     padding: 10px;
     margin-right: 5px;
     font-size: 1.2em;
     font-weight: 200;

 }

 a:hover{
     color: #eb5e28;
 }

 .tagline{
     text-align: center;
     font-size: 20px;
 }

 .arrow{
    border: 1.5px solid lightslategray ;
    border-radius: 50px;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 150px;
    color: lightslategray;
 }

 /* body section */

 .about{
     display: inline-flex;
 }

 #pamela{
     width: 400px;
     height: 400px;
 }

 #me{
     margin-left: 38vw;
     position: relative;
     top: 70px;
     
 }
 h2{
     font-size: 45px;
 }

 button{
    background-color: #eb5e28;
    border: none;
    border-radius: 25px;
    width: 270px;
    height: 45px;
    padding: 10px 20px;
}
 .pammi{
     width: 40vw;
     margin-left: 50px;
     margin-top: 80px;
     padding: 0;
 }

 #pammi{
     display: block;
     margin-left: 50vw;
 }

 #mina{
    margin-left: 40vw;
    position: relative;
    top: 70px;
    width: 40vw;
 }

 .graduate{
     display: inline-flex;
 }

 .Grad{
     width: 41vw;
     margin-top: 50px;
     margin-left: 30px;
 }

 .buttonz{
     display: inline-flex;
     margin-left: 42vw;
     width: 40vw;
     position: relative;
     bottom: 20px;

 }

 .ADA{
     margin-right: 15px ;
    
 }

 #butt{
     font-weight: 200;
 }

 #ADA{
    width: 400px;
    height: 400px;
 }

 .Testimonials {
     display: inline-flex;  
     
 }

 .academy, .laura, .kate, .Andy{
     margin-top: 20px;
 }

 .paras{
    margin-left: 20px;
    margin-right: 20px;
    width: 25vw;


}

#get{
    width: 40vw;
    margin-left: 20vw;
}

input, textarea{
    width: 50vw;
    padding: 10px 5px;
    margin-bottom: 5px;
} 
}

/* // --------------------------------------------------------------Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
}
/* --------------------------------------------------------------Extra large devices landscape */
@media (min-width: 1200px) and (orientation: landscape) {
     /*general classes*/
     .box{
        float: right;
        margin-top: 70px;
        margin-right: 85px;
    }

    .logo{
        margin-left: 130px;
    }

    .bars{
        display: none;
    }

    .line{
        background-color: gray;
        width: 90vw;
        height: 1px;
        margin-top: 60px;
        margin-left: 50px;
 
    }

    .block{
        width: 90vw;
        text-align: center;
        background: rgb(27, 27, 27);
        margin: auto;
        padding: 50px 50px;
    }

    p{
        font-size: 17px;
        text-align: left;
        word-spacing: 3 px;
        word-break: keep-all;
    }


    /*header section*/
    
 .desktop-only{
     display: inline-block;
     margin-left: 25vw;
     font-size: 20px ;
     
 }
 a{
     text-align: center;
     text-decoration: none;
     color: white;
     padding: 10px;
     margin-right: 5px;
     font-size: 1.2em;
     font-weight: 200;

 }

 a:hover{
     color: #eb5e28;
 }

 .tagline{
     text-align: center;
     font-size: 20px;
 }

 .arrow{
    border: 1.5px solid lightslategray ;
    border-radius: 50px;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 360px;
    color: lightslategray;
 }

 /* body section */

 .about{
     display: inline-flex;
 }

 #pamela{
     width: 400px;
     height: 400px;
 }

 #me{
     margin-left: 35vw;
     position: relative;
     top: 70px;
     
 }
 h2{
     font-size: 45px;
 }

 button{
    background-color: #eb5e28;
    border: none;
    border-radius: 25px;
    width: 270px;
    height: 45px;
    padding: 10px 20px;
}
 .pammi{
     width: 40vw;
     margin-left: 150px;
     margin-top: 80px;
     padding: 0;
 }

 #pammi{
     display: block;
     margin-bottom: 60px;
 }

 #butt{
     font-weight: 500;
 }

 #mina{
    margin-left: 40vw;
    position: relative;
    top: 70px;
    width: 25vw;
 }

 .graduate{
     display: inline-flex;
 }

 .Grad{
     width: 50vw;
     margin-top: 70px;
     margin-left: 40px;
 }

 .buttonz{
     display: inline-flex;
     margin-left: 35vw;
     width: 50vw;
     position: relative;
     bottom: 75px;

 }

 .ADA{
     margin-right: 15px ;
 }

 #ADA{
    width: 400px;
    height: 400px;
 }

 .Testimonials {
     display: inline-flex;  
     
 }

 .academy, .laura, .kate, .Andy{
     margin-top: 20px;
 }

 .paras{
    margin-left: 20px;
    margin-right: 20px;
    width: 25vw;


}

#get{
    width: 40vw;
    margin-left: 20vw;
}

input, textarea{
    width: 50vw;
    padding: 10px 5px;
    margin-bottom: 5px;
}
}

/* --------------------------------------------------------------Internet Explorer */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .moMenu{
        display: none;
    }
}